import io.john.amiscaray.quak.core.di.provider.DependencyProvider;
import io.john.amiscaray.test.security.di.SecurityConfigProvider;

module my.module {

    requires org.slf4j;
    requires quak.framework.security;
    requires bcrypt;
    requires com.auth0.jwt;

    requires com.fasterxml.jackson.databind;

    exports io.john.amiscaray.test.models to com.fasterxml.jackson.databind;
}